<div class="wrapper">
  <div class="container">
    <h3>Cocktails List</h3>
    <div class="cocktail-list">
      <div class="row">
        <ul>
          <% @cocktails.each do |cocktail| %>
          <div class="col-xs-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 200, width: 300, crop: :fill %>')">
              <%= link_to '', cocktail_path(cocktail) %>
              <div class="card-name">
                <h4><%= cocktail.name %></h4>
              </div>
              <div class="card-info">
              </div>
            </div>
          </div>
          <% end %>
      </div>
      </ul>
    </div>
  </div>
</div>
